---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Reverse 1999 Gnomon">
  <main>
    <h1 class="text-6xl font-bold text-center">
      Welcome to <p class="text-primary">Reverse 1999 Gnomon</p>
    </h1>
    <p class="mt-12 text-xl text-center">
      A fanmade website to view info about game Reverse 1999
    </p>
    <div class="mt-8 grid grid-cols-2 gap-4">
      <a href="/characters/list">
        <div class="card card-compact border border-primary">
          <div class="card-body">
            <h2 class="card-title">Characters</h2>
            <p>View info about characters</p>
          </div>
        </div>
      </a>
      <a href="/materials/list">
        <div class="card card-compact border border-primary">
          <div class="card-body">
            <h2 class="card-title">Materials</h2>
            <p>View info about materials</p>
          </div>
        </div>
      </a>
      <a href="/snip">
        <div class="card card-compact border border-primary">
          <div class="card-body">
            <h2 class="card-title">Snip</h2>
            <p>Snip tool to capture game screen and get text</p>
          </div>
        </div>
      </a>
      <a href="/resonate">
        <div class="card card-compact border border-primary">
          <div class="card-body">
            <h2 class="card-title">Resonate</h2>
            <p>Resonate playground</p>
          </div>
        </div>
      </a>
    </div>
  </main>
</Layout>
