---
import type { CARD_TYPE } from "@data/character";

interface Props {
  type: keyof typeof CARD_TYPE;
}

const { type } = Astro.props;
---

<div class="pt-4 max-w-32 mx-auto">
  {
    (() => {
      switch (type) {
        case "DEBUFF":
          return (
            <img src="/data/card/attr-debuff.png" alt="attr-debuff icon" />
          );
        case "BUFF":
          return <img src="/data/card/attr-buff.png" alt="attr-buff icon" />;
        default:
          return (
            <img src="/data/card/attr-attack.png" alt="attr-attack icon" />
          );
      }
    })()
  }
</div>
