---
interface Props {
	star: number;
}

const { star } = Astro.props;
---

<ul class="flex justify-center gap-1">
    {Array.from({ length: star }).map((_, i) => (
        <li>
            <img class="w-10 h-10" src="/data/characters/common/star.png" alt="star icon" />
        </li>
    ))}
</ul>