---
interface Props {
  content: string;
}

const { content, ...props } = Astro.props;
---

<span
  {...props}
  x-data="{isShow: false, isToggle: false}"
  class="inline-block relative"
>
  <span
    @click="isToggle = !isToggle"
    @click.outside="isToggle = false"
    @mouseenter="isShow = true"
    @mouseleave="isShow = false"
    class="text-effect cursor-pointer"
  >
    <slot />
  </span>
  <span
    class="absolute block bottom-full left-1/2 -translate-x-1/2 bg-base-100 w-40 text-base-content border-line-paper border p-2 transition-all duration-300"
    :class="isShow || isToggle ? 'visible opacity-100' : 'invisible opacity-0'"
  >
    <Fragment set:html={content} />
    <slot />
  </span>
</span>
